/* Form */
.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  #form {
    width: 100%
  }
  .form {
    width: 100%;
  }
  .form-title {
    margin: 1em 0 0 0;
    font-size: var(--heading);
    font-weight: 800;
  }
  .form-undertitle {
    margin: 0 0 1em 0;
    color: var(--gray);
    font-weight: 300;
  }
  .send-success {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    background-color: var(--light-green);
    color: var(--white);
  }
  .send-error {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    background-color: var(--red);
    color: var(--white);
  }
  .form-text {
    margin: 0 0 8px 0;
    color: white;
    font-weight: 300;
    font-size: 18px;
  
  }
  .form-input-grid {
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .form-input-max {
    margin: 1.5em 0;
  }
  .form-input-wrapper {
    width: 100%;
    position: relative;
  }
  .form-input-wrapper i {
    left: 1em;
    position: absolute;
    font-size: 1.88rem;
    color: var(--primary);
    text-shadow: 0 0 4px rgba(161, 166, 252, .5);
  }
  #textarea textarea {
    border-radius: 10px;
  }
  #textarea i {
    top: .6em;
  }
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 1.22rem;
    border-radius: 10px;
    background-color: #212121;
    transition: border .15s ease-in-out;
  }
  .form-input:hover {
    border: 2px solid var(--primary);
  }
  .form-input:focus {
    outline: none;
    border: 2px solid var(--primary);
  }
  #form-button {
    font-size: 1.22rem;
    background-color: #C4C4C4;
    width: 173px;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
  }
  
  #form-button-new {
    font-size: 1.22rem;
    background-color: #C4C4C4;
    width: 173px;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
  }
  /* Button */
  .button-wrapper {
    margin: 2em 0 1em 0;
  }
  .button, .btn-secondary {
    margin: 0;
    width: 100%;
    text-align: center;
    background-size: 500%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transform: scaleX(1);
   
  }
  
  
  .button .btn-secondary {
    left: 0;
    width: 100%;
    position: absolute;
    opacity: .8;
    z-index: -1;
    transform: scale3d(.9, .9, 1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
  }
  .button:hover {
    transform: scale3d(1.1, 1.1, 1);
    background-position: 100% 50%;
    outline: none;
    bottom: 2px;
  }
  .button:focus .btn-secondary, .button:hover .btn-secondary {
    background-position: 100% 50%;
    filter: blur(1.6rem);
    bottom: -5px;
  }
  /* Media Rules */
  @media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading: 3rem;
    }
  }
  @media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading: 2.8rem;
    }
  }
  @media only screen and (max-width: 1024px) {
  
  
    #read-btn-round{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #C4C4C4;
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
    }
  
    #clientImg {
      max-height: 120px;
      max-width: 120px;
      border-radius: 50%;
    }
  
  
    .cardHead{
      font-size: 40px;
      font-weight: bold;
      }
  
  
      .headTop p{
        font-size: 20px;
        }
      
    :root {
        /* Sizes */
        --heading: 2.4rem;
    }
    /* Form */
    #form {
        width: 85%;
    }
  }
  @media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading: 2.2rem;
    }
    /* Form */
    #form {
        width: 100%;
    }
  }
  @media only screen and (max-width: 576px) {
    /* Form */
    .form-input-grid {
       display: flex;
       flex-direction: column;
       gap: 10px;
    }
  
  
    #form-button {
      width: 100px;
      height: 40px;
      font-size: 1.22rem;
  font-size: 14px;
  
    }
    
    #form-button-new {
  
      width: 100px;
      height: 40px;
      font-size: 1.22rem;
  font-size: 14px;
  
    }
  }
  
  